{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'core_styles/css/components/core_navbar.css' %}">
{% endblock %}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand fw-bold" href="{% url 'core-home' %}">Lalo's Laboratory</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end text-center" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'core-home' %}">Home</a>
        </li>

        <a href="{% url 'blog-home' %}">
          <button type="button" class="btn btn-warning ms-2">
            <span class="text-white fw-bold">
              Blog
            </span>
          </button>
        </a>

      </ul>
    </div>
  </div>
</nav>