{% extends "core_templates/core_base.html" %}
{% load static %}


{% block content %}
<div id="core-home">

  <section id="core-home-1">

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
      <div class="col-md-5 p-lg-5 mx-auto my-5">

        <figure class="text-center">
          <blockquote class="blockquote">
            <p class="text-white">
              It is a damn poor mind that can think of only one way to spell a word.
            </p>
          </blockquote>
          <figcaption class="blockquote-footer">
            7th US President <cite title="Source Title">Andrew Jackson</cite>
          </figcaption>
        </figure>

      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

  </section>

  <section id="core-home-2">

    <div class="container col-xxl-8 px-4 py-5">

      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="{% static 'media/logo.svg' %}" class="d-block mx-lg-auto img-fluid" alt="Space" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <p class="lead">
            I love Engineering & Physics. I spend most of my time building Robots and ML algorithms while research in the feilds of Physics. Currently, I run Nebulei & Pulsar-Stellar.
            I specialize in Robotics & ML but eventually want to become proficient in physics, although far from there.
            In my free time, I like pondering and researching upon life's aspects.. My end goal is too do space exploration, among other things...
          </p>
        </div>
      </div>

    </div>

  </section>

  <section id="core-home-3">

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
      <div class="col-md-5 p-lg-5 mx-auto my-5">

        <figure class="text-center">
          <blockquote class="blockquote">
            <p class="text-white">
              It is a damn poor mind that can think of only one way to spell a word.
            </p>
          </blockquote>
          <figcaption class="blockquote-footer">
            7th US President <cite title="Source Title">Andrew Jackson</cite>
          </figcaption>
        </figure>

      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

  </section>

</div>
{% endblock %}
